
*{
    font-family: 'helvetica';

}
.Team{
    /* display: block; */
    /* justify-content: center; */
    margin-top: 5%;
}
.Team h3{
    text-align: center;
}
.Team hr{
    width: 3%;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #008374;
}
.headteam{
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-self: center;
}
.teams{
    display: flex;
    justify-content: space-evenly;
    /* margin: 0 20px; */
}
.member1{
    display: block;
    justify-content: center;
    margin: 30px -16%;
    border: none;
    width: 15%;
    height: 350px;
    box-shadow: 1px 1px 2px #787878;
    border-radius: 5px;
}
.member1 img{
    width: 90%;
    margin: 10px 11px;
}
.member1 img:hover{
    transform: scale(1.2);
}
.member1 img{
    transition: transform 0.3s;
}
.member1 span{
    font-weight: bold;
    margin: 0 60px;
    font-size: 13px;
    display: flex;
    justify-content: center;
}
.member1 span:hover{
    transform: scale(1.2);
}
.member1 span{
    transition: transform 0.3s;
}

.member1 p{
    margin: 15px 55px;
    font-size: 13px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
}
.icone{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.icone .socialmedia{
    border: 1px solid #787878;
    width: 10%;
    height: 25px;
    padding-left: 3%;
    padding-top: 4%;
    border-radius: 50%;
    display: flex;
    justify-content: first baseline;
}

.piedsPage{
    width: 100%;
    border-style: solid;
    border-width: 3px;
    border-radius: 2px;
    border-color: hsl(0, 16%, 88%);
}
